{% extends "base.jinja" %}

{% block head %}
    <link rel="stylesheet" href="../static/css/blog_style.css">
    <script src="../static/javascript/blog/blog.js" defer></script>
{% endblock %}

{% block main %}
<div> 
    <h1 style='color:red;'> 3D Printed Robot Arm </h1>
</div>
<div>
    <p> 
        This is my robot arm project.
    </p>
</div>
<div>
    Video Link <a href="https://www.linkedin.com/posts/neiltarar_robotarm-arduino-stm32-ugcPost-6838660755236143104-EbLg">here</a>
</div>
{% endblock %}

{% block comments %}
        {# if a user is NOT logged in #}
        {% if user != None %}

            <hr>
            <form action="/add_comment" method="POST" id="comment-logout-box">
                <label for="comment"><b> Comment: </b></label>
                <input class="comment-bar" type="text" name="comment" placeholder="start discussion"><br><br>
                <input class="button" id="comment-button" type="submit" value="COMMENT">
            </form>
        
            <form action="/logout" method="POST" class="logout-button">
                    <input type="hidden" name="logout" value="logout">
                    <button class="button" type=submit>logout</button>
            </form>

        {# if a user IS logged in #}
        {% else %}
            <form action="/add_comment" method="POST">
                <label for="comment"><b> Comment: </b></label>
                <input class="comment-bar" type="text" name="comment" placeholder="start discussion" ><br><br>
            </form>
            <div id="login-signup-element">
                <h3 id="login-comment-text">login in to comment</h3>
                <button class="button" id='login-button'>login</button>    
            </div>
        {% endif %}
    <br>
    <div id='new-comment'>
        {% for comment in comments %}
            <p class="comment-paragraph">{{comment[3]}} - {{comment[2]}} : {{comment[1]}} 
            {% if comment[2] == user %}
            <div class="edit-delete-box">
                <form action="/edit" method="POST">
                    <input type="hidden" name='comment' value="{{comment[1]}}">
                    <input type="hidden" name='comment-id' value="{{comment[0]}}">
                    <button type="submit" class="a" >edit</button>
                </form>
                <form action="/delete" method="POST">
                    <input type="hidden" name='comment-id' value="{{comment[0]}}">
                    <button type="submit" class="a" >delete</button>
                </form>
            </div>
            {% endif %}
        </p>
        <hr>
        {% endfor %}
    </div>
{% endblock %}