bcrypt==3.2.0
bidict==0.21.3
cffi==1.14.6
click==8.0.1
Flask==2.0.1
Flask-SocketIO==4.3.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
psycopg2==2.9.1
pycparser==2.20
python-decouple==3.4
python-engineio==3.13.2
python-socketio==4.6.0
six==1.16.0
Werkzeug==2.0.1