@font-face {
    font-family: 'Press-Start-2P';
    src: url('../fonts/Press_Start_2P/PressStart2P-Regular.ttf'); 
    
}

@font-face {
    font-family: 'sh-pinscher';
    src: url('../fonts/sh-pincher/SHPinscher-Regular.otf');
   
}

@font-face {
    font-family: 'Blox2';
    src: url('../fonts/blox-brk/Blox2.ttf');
}

#id01 {
    display: none;
}

#signup-window {
    display: none;
}

.container {
    font-family: "sh-pinscher","Chicago Plain",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    margin-left: 20vh;
    margin-right: 20vh;
    display: grid;
    grid-template-areas: 
        "nav "
        "avatar "
        "main "
        "comment "
        "footer ";  
}

#background {
    background:
    linear-gradient(315deg, transparent 75%, #939394e8 0) -10px 0,
    linear-gradient(45deg, transparent 75%, #ffffffe8 0) -10px 0,
    linear-gradient(135deg, #7c7c7ce3 50%, transparent 0) 0 0,
    linear-gradient(45deg, #6b6b6bde 50%, #494949ea 0) 0 0 #9c9c9c;
    background-size: 20px 20px;
}

a , a:visited {
    color: #201dfc;
    /* -webkit-text-stroke: 1.11px black; /* stroke width and color
    color: rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased;
    font-weight: bold; */
}

a:hover {
    background-color: red;
    color: white;
 
} 

.main {
    font-size: 15pt;
    display: flex;
    flex-direction: column;
    padding: 60px;
    border: solid 4px #6361e0e6;
    background-color: rgba(255, 255, 255, 0.900);
}

#crossfade {
    display: flex;
    grid-area: avatar;
    height: auto;
    justify-content: center;
}


#crossfade img.bottom {
    display: none;
}


:root {
    --navbar-height: 61px;
}

section {
    display: flex;
    padding-top: 12px;
    justify-content: space-around;
}

.comments {
    padding: 50px;
    background-color: rgba(206, 206, 206, 0.836);
    display: flex;
    flex-direction: column;
    grid-area: comment;
        
}

.logos {
    background-color: rgba(82, 81, 81, 0.836);
}

.comment-bar{
    width: 400px;
    height: 80px;
    background: rgba(255, 255, 255, 0.900);
    width: 100vh;
    height: 80px;  
}

canvas { 
    background: black; 
    border:1px solid #fd9292;
}

h2 , h4 , p {
    margin-top: auto;
}

li, a {
    font-family: "Press-Start-2P","Chicago Plain",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    text-decoration: none;
    list-style-type: none;
    padding: 4px;
}

.navigation-bar {
    background-color: rgba(206, 206, 206, 0.836);
    font-size: 11pt;
    align-items: center;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    grid-area: nav;
}

.home-page{
    font-family: "Blox2","Chicago Plain",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    margin: 10px;
    font-size: 26pt;
}

.navigation-list {
    margin: 10px;
    display: flex; 
}


.profile-info {
    font-size: 18pt;
    line-height: 1.6;
    padding: 10px;
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


h2 {
    text-align: center;
    font-size: 24pt;
    color: blue;
}

label {
    font-size: 18pt;
}

img {
    width: 200px;
 
}

.footer{
    grid-area: footer;
    padding: 20px;
    color: red;
}

.footer :only-child{
    display: flex;
    justify-content: space-around;
}


.button {

    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 15px;
    font-family: 'Press-Start-2P';
    
}

.button:hover {
    background-color: #acfcae;
    color: black;
}

.score{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

#id01{
    width: auto;
    height: 150vh;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: -55px;
    bottom: -165px;
    background-color: rgba(99, 97, 224, 0.9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

#id01.show {
    display: flex;
}

#signup-window {
    width: auto;
    height: auto;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: -55px;
    bottom: -165px;
    background-color: rgba(99, 97, 224, 0.9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

#signup-window.show {
    display: flex;
}

#close-window, #signup-close-window {
    color: black;
    align-self: flex-end;
    
}

#close-window:hover , #signup-close-window:hover {
    color: white;
    background-color: red;
}

.login-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    font-family: 'Press-Start-2P',"Chicago Plain",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 16pt;
}

#logout-button{
    height: 75px;
}

#save-score-button{
    display: none;
}

#save-score-button.show{
    display: block;
}