@font-face {
    font-family: 'arcade-classic';
    src: url('../../static/fonts/arcade-classic-cdnfonts/ARCADECLASSIC.TTF') 
    format('truetype');
}

@font-face {
    font-family: 'games';
    src: url('../../static/fonts/games-cufonfonts/Games.ttf') format('truetype')
}

@font-face {
    font-family: 'sh-pinscher';
    src: url('../fonts/sh-pincher/SHPinscher-Regular.otf');
   
}

.main {
    justify-content: flex-start;
    align-items: center;
}

body {
    margin: 0;
    text-align: center;
    /* margin: 100px; */
    font-family: 'arcade-classic';
}

button {
    font-size: 15pt;
    height: 45px;
    margin: 20px;
    font-family: 'arcade-classic';
    background-color: black;
    color: white;
    padding-top: 5px;
}

p {
    margin: 48px;
    font-size: 33pt;
    color: rgb(255, 64, 64);
    font-family: 'games';
}

.board {
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(3, auto);
    grid-row-start: 1;
    justify-content: center;
    align-items: center;
    
}

.square {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    cursor: url('../../static/images/tic-tac-toe-cursor/retroCursor.png') ,pointer;
    line-height: 100px;
    align-content: center;
    font-size: 90pt;
}

.square:hover {
    background-color: rgb(247, 113, 113);
    transition: 300ms;
    
}

.square:first-child,
.square:nth-child(2),
.square:nth-child(3){
    border-top: none;
}

.square.square:first-child,
.square:nth-child( 4 ), 
.square:nth-child( 7 ) {
    border-left: none;
}

.square:last-child,
.square:nth-last-child(2),
.square:nth-last-child(3){
    border-bottom: none;
}

.square.square:last-child,
.square:nth-last-child( 4 ), 
.square:nth-last-child( 7 ) {
    border-right: none;
}

#message {
    width: auto;
    height: auto;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: -55px;
    bottom: -165px;
    background-color: rgba(99, 97, 224, 0.9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

#message.show {
    display: flex;
}

#restart {
    height: 100px;
    width: 200px;
    font-size: 30px;
}

#chatBox {
    font-family: "sh-pinscher","Chicago Plain",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-top: 50px;   
}

#chatInput {
    padding: 20px;
    width: 250px;
}

#receiveMessage::after {
    font-family: "sh-pinscher","Chicago Plain",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    max-width: 600px;
    text-align: initial;
    font-size: 10pt;
    margin: 0;
    padding-top: 20px;
    font-family: 'arcade-classic';
    font-size: 21pt;
    color: black;

}

input {
    padding-right: 20px;
    padding-top: 5px;
    margin-right: 10px;
}

#game-type {
    width: auto;
    height: auto;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: -55px;
    bottom: -165px;
    background-color: rgba(99, 97, 224, 0.959);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

#room_full {
    width: auto;
    height: auto;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: -55px;
    bottom: -165px;
    background-color: rgba(99, 97, 224, 0.9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

#room_full.show {
    display: flex;
}

#boardAndPlayerInfo{

    display: flex;
    justify-content: center;
}
