body {
    margin: 0;
    text-align: center;
    margin: 100px;
}

h1 {
    padding-bottom: 100px;
}

.board {
    
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(3, auto);
    grid-row-start: 1;
    justify-content: center;
    align-items: center;
}

.square {
    width: 150px;
    height: 150px;
    border: 1px solid black;
   
}

.square:hover {
    background-color: rgb(247, 113, 113);
    transition: 300ms;
    cursor: pointer;
}

.square:first-child,
.square:nth-child(2),
.square:nth-child(3){
    border-top: none;
}

.square.square:first-child,
.square:nth-child( 4 ), 
.square:nth-child( 7 ) {
    border-left: none;
}

.square:last-child,
.square:nth-last-child(2),
.square:nth-last-child(3){
    border-bottom: none;
}

.square.square:last-child,
.square:nth-last-child( 4 ), 
.square:nth-last-child( 7 ) {
    border-right: none;
}

.square {
    line-height: 150px;
    align-content: center;
    font-size: 40pt;
}