{% extends "base.jinja" %}

{% block head %}
    <link rel="stylesheet" href="./static/css/blog_style.css">
{% endblock %}

{% block main %}
    <section>
        <ul>
            <li>
                <span>27.08.2021 - </span>
                <a href="/tic-tac-toe">Tic-Tac-Toe</a>  
            </li>
        </ul>
    </section>
{% endblock %}