{% extends "base.jinja" %}
{% block head %}
    <script src="../static/javascript/space_shooter/mini_game.js" defer></script>
{% endblock %}
{% block main %}
    <div id="crossfade">
        <img class="bottom" src="../static/images/profile_pic/pixel_art_profile.png" alt="profile picture">
        <img class="top" src="../static/images/profile_pic/test_profiel.png" alt="pixel art profile picture">
    </div>
    <div class="profile-info">
        <h2>Neil Tarar</h2>
        <h4>A Sipmle Guy Who Simply Loves Coding ...</h4>
        <p> I am a self-thought DIY enthusiast who is constantly working on electronics projects. For the last 3 years I have been teaching myself various programming languages; Python, C, C++ and use them in Raspberry Pi, Arduino and ARM Cortex-M 32-bit microcontroller driven projects. </p>
    </div>
    <section>
        <canvas id="minigame" width= '600' height= '200'>
            Your Browser Does Not Support This Canvas Element. 
        </canvas>
    </section>
    <div class="instructions">
        <p>W = UP | S = DOWN | A = LEFT | D = RIGHT | SPACE = SHOOT (TO THRILL)</p>
    </div>
    <div class="score">
        {% if user != None %}
            <h2>{{user}}</h2>
            <h1 id="score"></h1>
            <h1>{{high_score_user}} HIGH SCORE {{high_score}}</h1>
            <form action="/logout" method="POST">
                <input type="hidden" name="logout" value="logout">
                <button class="button" type=submit id="logout-button">logout</button>
            </form>
            <form action="/logout" method="POST">
                <input type="hidden" name="logout" value="logout">
                <button class="button" type=submit id="save-score-button">save score</button>
            </form>
        {# if a user IS logged in #}
        {% else %}
            <h1 id="score"></h1>
            <h1>{{high_score_user}} HIGH SCORE: {{high_score}} </h1>
            <button class="button" id="login">login</button>
        {% endif %}
    </div>

{% endblock  %}