{% extends "base.jinja" %}

{% block main %}
    <img class="profile-img" src="../static/images/profile_pic/profile.png" alt="profile picture">
    <div class="profile-info">
        <h1>Neil Tarar</h1>
        <h2>A DIY Enthusiast</h2>
        <p> Bio Blurb Here </p>
    </div>
{% endblock  %}